<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="QuickTechSystems.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="DefaultConnection"
             connectionString="Server=.\posserver;Database=QuickTechSystem;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
<userSettings>
  <QuickTechSystems.Properties.Settings>
   <setting name="CardSizePercentage" serializeAs="String">
    <value>75</value>
   </setting>
  </QuickTechSystems.Properties.Settings>
 </userSettings>
</configuration>